/********   Donation Form ********/
.DonationCaptureLink {
  &:active {
  }

  &:hover {
  }

  &:link {
  }

  &:visited {
  }
}

.DonationHelpForm {
}
.DonationHelpFormDDTable {
  /* System Defaults */
  height: 275px;
}

.DonationHelpFormGATable {
  /* System Defaults */
  height: 280px;
}

.DonationHelpFormCheckTable {
  /* System Defaults */
  height: 50px;
}

.DonationHelpFormCSCTable {
  /* System Defaults */
  height: 400px;
}

.DonationFormTable {
  tbody {
    display: block;

    & > tr {
      display: flex;
      width: 100%;

      & > td {
        &:nth-child(2) {
          flex: 1;
        }
      }
    }
  }
}

.DonationFormTable_DonationPanel {
}

.DonationFormTable_DonationPanel_SymbolLabel {
  vertical-align: top;
}

.DonationCaptureFieldControlCellAmount {
  /* System Defaults */
  font-weight: bold;
  width: 400px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.DonationCaptcha {
  /* System Defaults */
  margin: 0px;
}

.DonationCaptchaControlCell {
  margin-top: map-get($map: $spacers, $key: 2);
  width: 100%;
}

.DonationCaptchaImageContainer {
  /* System Defaults */
  border: 1px solid #aaaaaa;
}

.DonationCaptchaActionLinkContainer {
  /* System Defaults */
  text-align: right;
}

.DonationECardSectionSeparator {
  /* System Defaults */
  background-color: LightGrey;
  margin-left: 20px;
  padding: 2px;
}

.DonationECardSectionBody {
  /* System Defaults */
  padding: 5px 5px 5px 20px;
}

.DonationECardTemplate {
  /* System Defaults */
  padding: 2px;
}

.DonationGrid {
}

.DonationGridHeaderCell {
}

.DonationGridCell {
}

.DonorChallenge {
}

.DonorChallengeIntro {
}

.DonationFieldCaption,
.DonationCaptureFieldCaption {
  /* System Defaults */
  background: transparent;
  width: 180px;
}

.DonationCaptchaCaption {
  /* System Defaults */
  float: left;
  clear: left;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
}

.DonationFieldCheckboxCaption {
  @include make-custom-checkbox;
}

.DonationCaptureFieldControlCell,
.sDonationCaptureFieldControlCell {
  margin-bottom: map-get($map: $spacers, $key: 2);
}
.sDonationCaptureFieldControlCell {
  margin-left: 0 !important;
}

.DonationFieldControlCell {
  display: flex;
  margin-bottom: map-get($map: $spacers, $key: 2);

  td {
    @include make-custom-radio;
    display: flex;
  }
}

.DonationButtonCell {
  text-align: left;
  @include winterthur-make-footer-section;
}

.DonationCaptureReadonlyValue {
  /* System Defaults */
  text-align: left;
}

.DonationCaptureRequiredFieldMarker {
}

.DonationRequiredFieldMarker {
}

.DonationCaptureSelectList {
}

.DonationCaptureSelectListNarrow {
  /* System Defaults */
  width: 75px;
}

.DonationSelectList {
}

.DonationSubmitButton {
  @extend .btn-primary;
}

.DonationCaptureFormTable {
  padding-left: 0 !important;
  padding-right: 0 !important;

  & > tr {
    @extend .row;
  }
}

.DonationCaptureTextArea {
  max-width: $input-max-width;
}

.DonationTextArea {
  /* System Defaults */
  max-width: $input-max-width;
}

.DonationCaptureTextbox {
  max-width: $input-max-width;
}

.DonationCaptureTextboxNarrow {
  max-width: $input-max-width;
}

.DonationCaptureTextboxWide {
  max-width: $input-max-width;
}

.DonationTextbox {
  max-width: $input-max-width;
}

.DonationTextboxNarrow {
  max-width: $input-max-width;
}

.DonationTextboxWide {
  max-width: $input-max-width;
}

.DonationValidationSummary {
}

.DonationGridFooter {
}

.DonationGridHeader {
}

.DonationGridEvenRow {
}

.DonationCaptureListingHeading {
  @extend .h3;
  width: 100%;

  & > span {
    display: block;
    width: 100%;
  }

  & > * {
    display: block;
    margin-top: map-get($map: $spacers, $key: 3);
    margin-bottom: map-get($map: $spacers, $key: 2);
  }
}

.DonationListingHeading {
  /* System Defaults */
  background-color: transparent;
  color: initial;
  height: initial;
  text-align: left;

  @include winterthur-create-section-heading;
}

.DonationGridOddRow {
}

.DonationMessage {
}

.DonationCaptchaInformation {
}

.DonationCaptureControlMessage {
}

.DonationCaptureAddressLookupLink {
}

/***** End Donation Form styles *****/
