@mixin make-custom-radio {
  @extend .custom-control;
  @extend .custom-radio;

  & > input {
    @extend .custom-control-input;
  }

  & > label {
    @extend .custom-control-label;
    cursor: pointer;
  }
}

@mixin make-custom-checkbox {
  @extend .custom-control;
  @extend .custom-checkbox;

  & > input {
    @extend .custom-control-input;
  }

  & > label {
    @extend .custom-control-label;
    cursor: pointer;
  }
}

@mixin make-form-container {
  @extend .txt-area;
  margin: 0 auto;
  padding: 0 map-get($map: $spacers, $key: 3);
  display: block;
}

@mixin winterthur-make-custom-select {
  @extend .form-control;
  @extend .custom-select;
  max-width: $input-max-width;
  -moz-appearance: none;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

@mixin winterthur-make-footer-section {
  width: 100%;
  display: block;
  padding-top: map-get($map: $spacers, $key: 4);
  border-top: 1px solid $winterthur-color-gray-1;
  margin: map-get($map: $spacers, $key: 4) auto;
}
