@mixin make-custom-radio {
  @extend .custom-control;
  @extend .custom-radio;

  & > input {
    @extend .custom-control-input;
  }

  & > label {
    @extend .custom-control-label;
    cursor: pointer;
  }
}

@mixin make-custom-checkbox {
  @extend .custom-control;
  @extend .custom-checkbox;

  & > input {
    @extend .custom-control-input;
  }

  & > label {
    @extend .custom-control-label;
    cursor: pointer;
  }
}

@mixin make-form-container {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0 map-get($map: $spacers, $key: 3);
  display: block;
}
